body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #EEEEEE;
}

#logo {
    height: 70px;
}
.nav-item {
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
}

.nav-item { 
    padding: 15px;
}
#house{
    padding: 0%;
}

.card {
    background-color: #242C64;
    color: white;
}
#Copyright {
    font-size: 13px;
}
.card-title {
    font-size: 50px;
    text-align:center;
}
#team-img {
    height: 200px;
}
.team {
    background-color: red;
}