

body {
    background-color: #EEEEEE;
}

#logo {
    height: 70px;
}
.nav-item {
    font-size: 25px;
    font-family: 'Roboto Flex', sans-serif;
}

.nav-item { 
    padding: 7px;
    font-family: 'Libre Baskerville', serif;
}
#house{
    padding: 0%;
}

.card {
    background-color: white;
    color: black;
}
#Copyright {
    font-size: 13px;
}
.card-title {
    font-size: 50px;
    text-align:center;
    font-family: 'Libre Baskerville', serif;
    color:white;
}
.lowertext {
    position:relative;
    padding-top:300px;
    padding-right:500px;
    padding-left:500px;
}
#team-img {
    height: 200px;
}
.team {
    background-color: red;
}
.btn:hover {
    background-color:#242C64;
}
h5 {
    font-family: 'Libre Baskerville', serif;
}
